<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/}" th:object="${user}">
    <label for="firstName">First name</label>
    <input type="text" placeholder="First name" th:field="*{firstName}" id="firstName">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" placeholder="Last name" th:field="*{lastName}" id="lastName">
    <br/>
    <label for="age">Age</label>
    <input type="number" placeholder="Age" th:field="*{age}" id="age">
    <br/>
    <label for="email">Email</label>
    <input type="email" placeholder="Email" th:field="*{email}" id="email">
    <br/>
    <label for="password">Password</label>
    <input type="password" placeholder="Password" th:field="*{password}" id="password">
    <br/>
    <label for="role">Role</label>
    <select name="role" id="role" th:field="*{role}">
        <option value="ROLE_USER">Пользователь</option>
        <option value="ROLE_ADMIN">Администратор</option>
    </select>

<!--    <select name="role" id="role" th:field="*{role}"-->
<!--            th:size="${allRole.size()}" multiple>-->
<!--        <option th:each="role : ${allRole}"-->
<!--                th:text="${role.toString()}"-->
<!--                th:value="${role.getId()}">Value-->
<!--        </option>-->
<!--    </select>-->

    <br/>
    <input type="submit" value="Создать"/>
</form>

<a href="/logout">
    <input type="submit" value="Выйти"/>
</a>

</body>
</html>